.statistics {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.title {
  margin: 10px;
  align-items: center;
  text-align: center;
}

.statList {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  list-style-type: none;
  margin: 10px;
}

.item {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: calc(100% / 3);
  padding: 10px;
  border: 1px solid rgb(88, 88, 88);
}

.label {
  display: block;
  padding: 10px;
}

.percentage {
  display: block;
  padding-bottom: 10px;
}
